@charset "utf-8";
/* CSS Document */

/*------------------- Small dashboard edit 18-2-2012 --------------------------- */
.small_dashboard {
	background: none repeat scroll 0 0 #eceaea;
	border-radius:6px 6px 6px 6px;
	display: inline-block;
	margin: 0 0.8% 1em;
	padding: 12px 0;
	text-decoration: none;
	vertical-align: top;
	width:8%;
	min-height:68px !important;
}
.small_dashboard:hover {
	background: none repeat scroll 0 0 #e8e8e8;
}
/* lebaL css */
.d_text {
	color: #666666;
	display: block;
	font-weight: 400;
	text-align:center;
	line-height:14px;
}
.small_dashboard:hover .d_text {
	color:#818181;
	cursor:pointer;
}
/* icon css added by skumar */

/* manage icon */
.dbim {
	cursor:pointer;
	background:url(../images/db_mic.png) no-repeat;
	width:40px;
	height:40px;
	text-align:center;
	margin:0px auto;
}
.small_dashboard:hover .dbim {
	background: url("../images/db_mic.png") no-repeat scroll 0 -45px transparent;
}
/* icon_vi car */
.dbiv {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/db_vi.png) no-repeat;
	width:42px;
	height:42px;
}
.small_dashboard:hover .dbiv {
	background: url("../images/db_vi.png") no-repeat scroll 0 -45px transparent;
}
/* icon_dealer */
.dbiu {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/db_dealers.png) no-repeat;
	width:47px;
	height:40px;
}
.small_dashboard:hover .dbiu {
	background: url("../images/db_dealers.png") no-repeat scroll 0 -45px transparent;
}
/* icon_country */
.dbict {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/db_country.png) no-repeat;
	width:45px;
	height:40px;
}
.small_dashboard:hover .dbict {
	background: url("../images/db_country.png") no-repeat scroll 0 -45px transparent;
}
/* icon_currency */
.dbicr {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/db_currency.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .dbicr {
	background: url("../images/db_currency.png") no-repeat scroll 0 -45px transparent;
}
/* icon_currency */
.dbivm {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/db_vi1.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .dbivm {
	background: url("../images/db_vi1.png") no-repeat scroll 0 -45px transparent;
}
/* icon multipal user  */
.dbimu {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/icon_mu.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .dbimu {
	background: url("../images/icon_mu.png") no-repeat scroll 0 -44px transparent;
}
/* icon home zone */
.dbihz {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/db_hz.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .dbihz {
	background: url("../images/db_hz.png") no-repeat scroll 0 -45px transparent;
}
/* icon icon_audit */
.dbiaudit {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/icon_audit.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .dbiaudit {
	background: url("../images/icon_audit.png") no-repeat scroll 0 -44px transparent;
}
/* icon_packages */
.dbipkg {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/db_pak.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .dbipkg {
	background: url("../images/db_pak.png") no-repeat scroll 0 -45px transparent;
}
/* added by Skumar for super administrator dashboard*/
.su_ad_act {
	cursor:pointer;
	background:url(../images/sai_activities.png) no-repeat;
	width:40px;
	height:40px;
	text-align:center;
	margin:0px auto;
}
.small_dashboard:hover .su_ad_act {
	background:url(../images/sai_activities.png) no-repeat scroll 0 -43px transparent;
}
.su_ad_use {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/sai_users.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_use {
	background:url(../images/sai_users.png) no-repeat scroll 0 -43px transparent;
}
.su_ad_key {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/sai_keyboard.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_key {
	background:url(../images/sai_keyboard.png) no-repeat scroll 0 -43px transparent;
}
.su_ad_rol {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/sai_role.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_rol {
	background:url(../images/sai_role.png) no-repeat scroll 0 -43px transparent;
}
.su_ad_set {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/sai_setting.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_set {
	background:url(../images/sai_setting.png) no-repeat scroll 0 -43px transparent;
}
.su_ad_logs {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/sai_logs.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_logs {
	background:url(../images/sai_logs.png) no-repeat scroll 0 -43px transparent;
}
.su_ad_sys_inf {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/sai_system-information.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_sys_inf {
	background:url(../images/sai_system-information.png) no-repeat scroll 0 -43px transparent;
}
.su_ad_trans {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/sai_translate.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_trans {
	background:url(../images/sai_translate.png) no-repeat scroll 0 -43px transparent;
}
.su_ad_mant {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/sai_maintenance.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_mant {
	background:url(../images/sai_maintenance.png) no-repeat scroll 0 -43px transparent;
}
.su_ad_back {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/sai_backups.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_back {
	background:url(../images/sai_backups.png) no-repeat scroll 0 -43px transparent;
}
.su_ad_mig {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	;
	background:url(../images/sai_Migrations.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_mig {
	background:url(../images/sai_Migrations.png) no-repeat scroll 0 -43px transparent;
}
.su_ad_cod_buil {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/sai_code.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_cod_buil {
	background:url(../images/sai_code.png) no-repeat scroll 0 -43px;
}
.su_ad_upd {
	cursor:pointer;
	text-align:center;
	margin:0px auto;
	background:url(../images/sai_browser.png) no-repeat;
	width:40px;
	height:40px;
}
.small_dashboard:hover .su_ad_upd {
	background:url(../images/sai_browser.png) no-repeat scroll 0 -43px;
}
.form {
	width:98%;
	height:auto;
	margin:0px auto;
	/*background:##f8f8f8 url(../images/form_bg_pattern.jpg) repeat top left;*/
background:#f8f8f8;
	border-radius:4px 4px 4px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:4px;
	border:solid 1px #cfcece;
}
.form_main {
	height:auto;
	margin:0px auto;
}
.ptrbl8 {
	padding:8px;
}
.form_h {
	height:23px;
	padding-top:5px;
	width: auto;
	background:url(../images/pattern_g.jpg) repeat-x left top !important;
*background-image:url(../images/pattern_g.jpg);
}
.pl13 {
	padding-left:13px;
}
.h4 {
	color:#000000;
}
.bold {
	font-weight:bold;
}
/* color */
.Cblue {
	color:#098bc6 !important;
}
.spacer10 {
	height:10px !important;
}
.adddbicon {
	float: right !important;
	margin-right: -3px !important;
	margin-top: -17px !important;
}
.Customers {
	background: url("../images/db_dealers.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Customer_Groups {
	background: url("../images/db_mic.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Reports {
	background: url("../images/sai_activities.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Orders {
	background: url("../images/sai_logs.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Coupons {
	background: url("../images/sai_browser.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Gift_Cards {
	background: url("../images/sai_browser.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Digital_Products {
	background: url("../images/sai_keyboard.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Products {
	background: url("../images/sai_users.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Categories {
	background: url("../images/sai_activities.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Banners {
	background: url("../images/sai_keyboard.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Boxes {
	background: url("../images/sai_browser.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Pages {
	background: url("../images/sai_keyboard.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Settings {
	background: url("../images/sai_setting.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.Locations {
	background: url("../images/sai_users.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 47px;
}
.row {
	margin-left: -20px!important;
}
/*
.alert-danger, .alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    border-radius: 4px 4px 4px 4px;
    padding: 8px 35px 8px 14px;
}


.alert .close {
    line-height: 18px;
    position: relative;
    right: -21px;
    top: -2px;
}
button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}

strong {
    font-weight: bold;
}
.alert-danger, .alert-error {
    color: #B94A48;
}
*/
.table th, .table td {
	padding: 5px !important;
	vertical-align: middle !important;
}
.control-group {
	margin-bottom: inherit;
}
#FileUpload {
	position:relative;
	float: right;
}
#BrowserVisible {
	/**background: url("../images/upload.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);*/
	background: none;
	height: 26px;
	/*left: -10px;*/
    position: absolute;
	top: 0px;
	/*width: 240px;*/
    z-index: 1;
}
#FileField {
	width:155px;
	height:15px;
	/* margin-right:85px;*/
    border:solid 1px #000;
	font-size:16px;
}
#BrowserHidden {
	position:relative;
	width:176px;
	height:26px;
	/*text-align: right;*/
    -moz-opacity:0;
 filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}
.table.table-striped p {
	color: #FF0000;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
#upload_btn_pri {
	padding-bottom:0px\9 !important;
	padding-bottom:4px;
}
