#example_info{ float: left;}
#example_paginate{float: right;}
#example_first{padding: 0 6px;}
#example_previous{padding: 0 6px;}
.paginate_active{padding: 0 6px;}
.paginate_button{padding: 0 6px;}
.fg-button {padding: 0 6px;}
#example_next{padding: 0 6px;}
#example_last{padding: 0 6px;}
#example_length{ float:left;}
#example_filter{ float:right;}
#example{ float:left;}

.css_clear {
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

