@font-face {
	font-family: "Roboto Condensed";
	src: url("../fonts/Roboto-Condensed.eot?") format("eot"), url("../fonts/Roboto-Condensed.woff") format("woff"), url("../fonts/Roboto-Condensed.ttf") format("truetype"), url("../fonts/Roboto-Condensed.svg#Roboto-Condensed") format("svg");
	font-weight: normal;
	font-style: normal;
}


	/* css for data table start */
.div_overflow {
	overflow: auto;
	width: 100%;
	padding-bottom: 10px;
}
.table_data {
	display: table;
	width: 100%;
	min-width: 623px;
}
.table_heading {
	border-bottom: 2px solid #dedede;
	display: inline-table;
	width: 100%;
	background: #dbddde;
}
.table_function_div {
	border-bottom: 2px solid #dedede;
	display: none;
	/*line-height: 22px;*/ font-size: 13px;
	width: 100%;
}
.table_function_div a:hover {
	text-decoration: none;
}
.row_table {
	display: table;
	width: 100%;
	border-bottom: 1px solid #dedede;
}
.row_table:hover {
	background: #f5f5f5;
}
.table_heading > .cell > p {
	margin: 0;
	font-size: 13px;
	font-weight: normal;
	color: #999;
}
.table_heading > .cell {
	display: inline-table;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
	line-height: 22px;
	padding-top: 5px;
}
.cell {
	display: inline-table;
	padding: 5px 3px;
	line-height: 33px;
}
.cell > p {
	margin: 0;
	float: left;
	color: #333;
	font-size: 12px;
}
.cell_one {
	width: 45%;
	float: left;
}
.cell_two {
	width: 20%;
	float: left;
}
.cell_three {
	width: 25%;
	float: left;
}
.cell_four {
	width: 10%;
	float: left;
}
.list_icon {
	display: inline-block;
	text-align: center;
	width: 40px;
	float: left;
	margin-top: 2px;
	line-height: 0;
}
.cell_four i.fa-link {
	font-size: 15px
}
.list_icon i {
	font-size: 24px;
}
.share_link_div, .download_div, .file_name_div, .delete_div, .rename_div, .move_div, .more_div {
	float: left;
 width:;
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
}
.size_div {
	float: right;
	text-align: right;
}
/* css for data table end */


.cell_type_one{
	width:15%;
	float:left;
	border-right:1px solid #dedede;
}
.cell_type_two{
	width:15%;
	float:left;
	border-right:1px solid #dedede;
}
.cell_type_three{
	width:16%;
	float:left;
	border-right:1px solid #dedede;
}
.cell_type_four{
	width:10%;
	float:left;
	border-right:1px solid #dedede;
}
.cell_type_five{
	width:13%;
	float:left;
	border-right:1px solid #dedede;
}
.cell_type_six{
	width:9%;
	float:left;
	border-right:1px solid #dedede;
}
.cell_type_seven{
	width:13%;
	float:left;	
}
.cell_type_seven > p > a{
	color:#fff ;	
}
.table_heading_type2{
	background:#EEEEEE;
	display: block;
    float: left;
    width: 100%;
}
.table_heading_type2 > .cell {
    padding: 8px 5px;
}
.table_heading_type2 > .cell > p {
    color: #000;
    display: inline-block;
    width: 100%;
}
.table_heading_type2 i {
    color:#000;
	line-height: 22px;
	float:right;
}
.row_table_type2{
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
	border-bottom: 1px solid #DEDEDE;
	display: block;
    float: left;
    height: 43px;
    width: 100%;
}
.row_table_type2:nth-child(even){
	background:#f9f9f9;
}	
.row_table_type2 > .cell > p{
	color:#5f859a;
}
.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #ffffff;
	border-radius:0;
	padding: 6px 12px;
	font-family: Oswald;
}
.btn.btn-danger.margin_10_left{
	margin-left:5px !important;
}
.margin_zero{
	margin:0;
}
.pagination_select {
    float: right;
    margin: 2px 5px 0;
    width: auto !important;
}
.btn{
	border-radius:0;
}
.pagination_row{
	border-bottom:1px solid #dedede;
}
.row_heading_title{
	cursor:pointer;
}
.no_data{
	text-align:center;
	padding:10px 0;
}
.custom_input {
	/*background:#d0d5d8;
	border:1px solid #d0d5d8; */
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 5px;
	height: 32px;
	width:90%;
	-webkit-transition: all 0.50s, -webkit-transform 0.50s;
	transition: all 0.50s, transform 0.50s;
}
.custom_input:focus {
	background: #fff;
	border: 1px solid #0056B8;
	border-radius: 0;
	box-shadow: none;
}

