.messages-menu > .dropdown-menu {
    border: 1px solid #dfdfdf;
    border-radius: 4px !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 125%;
    width: 300px;
	right:-5px;
}
.messages-menu > .dropdown-toggle {
    display: inline-block;
    padding-bottom: 0;
    padding-top: 1px;
    
}
.messages-menu .label {
    border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%; 
    font-size: 10px;
    font-weight: normal;
    height: 15px;
    line-height: 1em;
    padding: 2px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: -3px;
    width: 15px;
}
.label-success {
    background-color: #5cb85c;
}
.messages-menu > .dropdown-menu > li.header{
	background-color: #ffffff;
    border-bottom: 1px solid #f4f4f4;
    border-radius: 4px 4px 0 0;
    color: #444444;
    font-size: 12px;
    font-weight:normal;
    padding: 7px 10px;
}
.messages-menu > .dropdown-menu > li.header:after{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #ffffff;
    border-image: none;
    border-style: solid;
    border-width: 7px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 92%;
    margin-left: -7px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.messages-menu > .dropdown-menu > li.header:before{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #888;
    border-image: none;
    border-style: solid;
    border-width: 7px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 92%;
    margin-left: -7px;
    pointer-events: none;
    position: absolute;
    width: 0;
}

.messages-menu > .dropdown-menu > li.footer{
	background-color: #f4f4f4;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0 0 4px 4px;
    color: #444444;
    font-size: 12px;
    padding: 7px 10px;
    text-align: center;
	line-height:10px;
	bottom: unset;
}
.messages-menu > .dropdown-menu > li .menu li{
    list-style: none outside none;
}
.messages-menu > .dropdown-menu > li.footer a{
	line-height:10px;
}
.messages-menu > .dropdown-menu > li .menu > li > a > h4 {
    color: #444444;
    font-size: 14px;
    margin: 0 0 0 45px;
    padding: 0;
}
.messages-menu > .dropdown-menu > li .menu > li > a > p {
    color: #888888;
    font-size: 10px;
    margin: 0 0 0 45px;
}
.messages-menu > .dropdown-menu > li .menu {
    list-style: none outside none;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
.messages-menu > .dropdown-menu > li .menu > li > a {
    border-radius: 4px;
    line-height: 20px;
    margin: 0;
    padding: 10px 5px;
	border-bottom: 1px solid #f4f4f4;
    display: block;
    white-space: nowrap;
}
.messages-menu > .dropdown-menu > li .menu > li > a:before, .messages-menu > .dropdown-menu > li .menu > li > a:after {
    content: " ";
    display: table;
}
.messages-menu > .dropdown-menu > li .menu > li > a > div > img {
    border: 1px solid #dddddd;
    height: 40px;
    margin: auto 10px auto auto;
    width: 40px;
}
.messages-menu > .dropdown-menu > li .menu > li > a:hover{
    background: none repeat scroll 0 0 #f6f6f6;
    text-decoration: none;
}
.open > .dropdown-menu_msg {
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fadeAnimation;
    animation-timing-function: ease;
}
@keyframes fadeAnimation {
0% {
    opacity: 0;
    top: 125%;
}
100% {
    opacity: 1;
    top: 100%;
}
}
.messages-menu .dropdown-menu li a div.pull-left img.img-circle{
	width:40px;
}
.messages-menu .dropdown-menu li a {
	padding:3px 10px;
}
.shorting_icon {
    display: inline-block;
    float: right;
}

.headerright h4 {
font-size: 16px;
line-height: 18px;
padding-bottom: 5px;
padding-top: 6px;
white-space: normal;  
}
.headerright h4 small {
  margin-left: 8px;
}
.headerright .dropdown-menu_msg li {
  max-height: 215px;
  overflow: auto;
}
.headerright ul.dropdown-menu_msg li > ul {
  display: block;
  left: 0;
  position: relative;
}
.headerright .dropdown-menu_msg .viewmore {
  background: none repeat scroll 0 0 #FFFFFF;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.messages-menu > .dropdown-menu > li.footer {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.messages-menu .dropdown-menu li.footer.viewmore a:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #333333;
}
.messages-menu > .dropdown-menu > li.header {
  display: none;
}
.messages-menu > .dropdown-menu > li.header.nav-header {
  display: block;
}
.messages-menu .dropdown-menu li.footer.viewmore a {
  margin-top: 0;
}
.headerright .notification h4 small {
  font-size: 12px;
}

.beacon_setting_input { float: left; width: 360px; }
.beacon_setting_input_hrs { width: 50px; float: left; }
.fr{float:right;}


.upload_product_image{text-align:center !important;}
.upload_product_image .fa{font-size:22px;}
.upload_product_image img{width: 65px; margin: 0 auto;}
.upload_single_image_section{
    display: none;
    text-align:center;
    margin-top:32px;
}
.upload_single_image_section #banner_image_cell{
    text-align: center;
    display: inline-block;
}
#custom_tab_section .nav-tabs > li.active > a{
        background-color: #3a3b36 !important; 
        color: #fff;
}
#custom_tab_section .nav-tabs > li > a{
    background-color: #d7d7d7;
    color:#3b3c37;
}
#custom_tab_section .nav{
    margin-bottom: 0px;
}
#custom_tab_section .tab-content > .tab-pane{
    border-top: none;
}

#custom_tab_section .overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 39px;
    z-index: 9999;
}

#custom_tab_section #loading-img img {
    width: 70px;
    margin-top: 21%;
}

