#myNav li:not([disabled]) {
	cursor: pointer;
}
.setup-panel .list-group-item-heading {
	margin: 0px;
}
.setup-panel.nav > li > a {
	padding: 5px 22px;
	color: #54667a;
	font-size:12px;
	border-radius: 0;
	border-bottom: solid 3px #d2d6dc;
	height: 34px;
}
.setup-panel.nav > li {
}
.nav-pills > li + li {
	margin: 0px;
}
.setup-panel.nav > li > a h4 {
	font-size: 14px;
}
/*.setup-panel.nav-pills > li.active > a, .setup-panel.nav-pills > li.active > a:focus, .setup-panel.nav-pills > li.active > a:hover {
color:#54667a;
background-color:none !important;
border-bottom:solid 3px #de8422;
}*/

.setup-panel.nav > li:hover:active:focus {
	border-bottom: solid 3px #de8422 !important;
}
.nav-pills > li.active > .nav-pills > li.active > .nav-pills > li.active > {
	color: #fff;
	background: none !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	color: #54667a !important;
	background: none;
	border-bottom: solid 3px #de8422 !important;
}
.setup-panel.form-group {
	margin-bottom: 15px;
	text-align: left;
}
/* form */
.formnew h4 {
	color: #54667a;
	margin: 15px 0px;
}
.formnew input {
	border: #9fa2a5 solid 1px;
	border-radius: 1px;
	min-height: 38px;
	margin-bottom: 5px;
}
.formnew label {
	color: #54667a;
	font-weight: normal;
}
button {
	background: #ffed00;
}
.btncommon {
	background: #ffed00;
	max-width: 150px;
	/* padding: 15px 60px; */
	border: none;
	font-size: 16px;
	color: #54667a;
	/* line-height: 40px; */
	height: 40px;
}
/*.btncommon2 {
	background: #ffed00;
	border: none;
	font-size: 16px;
	color: #54667a;
	height: 28px;
	line-height: 16px;
	margin-bottom: 12px;
	margin-top: 12px;
}*/
.btncommon2 {
	background: #ffed00;
	border: none;
	font-size: 12px;
	color: #54667a;
	height: 22px;
	line-height: 12px;
	margin-bottom: 8px;
	margin-top: 8px;
}

.spacer15 {
	height: 15px;
}
.spacer30 {
	height: 30px;
}
.form-group.btm0 {
	margin: 0px;
}
.calender-icon::after {
	content: url("img/calender-icon.png");
	position: absolute;
	top: 32px;
	right: 28px;
}
.bgcolor {
	background: #f0f0f0; widows:472px;
}
.heading h1 {
	color: #54667a;
	font-size: 18px;
	margin: 10px 0px;
}
.lh38 .col-xs-2 {
	line-height: 38px;
}
.graycolor {
	background: #3f403b;
}
.p20 {
	padding: 20px;
}
/* email template */
.bgcolor3 {
	background: #fff; width:472px;
}
.bgyellow {
	background: #ffed00;
}
.darken-grey-text {
	color: #2E2E2E;
}
.p10 {
	padding: 10px;
}
p, h1, h2, h3, h4 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
span.preheader {
	display: none;
	font-size: 1px;
}
html {
	width: 100%;
}
table {
	font-size: 14px;
	border: 0;
}
.style {
	text-align: center;
}
.style h4 {
	color: #54667a;
	font-size:14px;
	padding:6px;
}
.style p {
	color: #54667a;
	font-size:12px;
}
.price-old {
	color: #a3a3a3;
	font-size:11px;
	text-decoration: line-through;
	margin-right:8px;
}
.price-new {
	color: #758393;
	font-size:13px;
}
.brd {
	border: solid 1px #a3a3a3;
}
.cland-icon {
	position: absolute;
	top: 30px;
	right: 20px;
	background: none;
	border: 0;
}
.ptb10 {
	padding: 10px 0px;
}
.form-group.btm0 {
	margin: 0px;
	padding: 10px;
}
/* ----------- responsivity ----------- */

@media only screen and (max-width: 640px) {
/*------ top header ------ */
.main-header {
	font-size: 20px !important;
}
.main-section-header {
	font-size: 28px !important;
}
.show {
	display: block !important;
}
.hide {
	display: none !important;
}
.align-center {
	text-align: center !important;
}
.no-bg {
	background: none !important;
}
/*----- main image -------*/
.main-image img {
	width: 440px !important;
	height: auto !important;
}
/* ====== divider ====== */
.divider img {
	width: 440px !important;
}
/*-------- container --------*/
.container590 {
	width: 440px !important;
}
.container580 {
	width: 400px !important;
}
.main-button {
	width: 220px !important;
}
/*-------- secions ----------*/
.section-img img {
	width: 320px !important;
	height: auto !important;
}
.team-img img {
	width: 100% !important;
	height: auto !important;
}
}
@media only screen and (max-width: 479px) {
	/*------ top header ------ */
	.main-header {
		font-size: 18px !important;
	}
	.main-section-header {
		font-size: 26px !important;
	}
	/* ====== divider ====== */
	.divider img {
		width: 280px !important;
	}
	/*-------- container --------*/
	.container590 {
		width: 280px !important;
	}
	.container590 {
		width: 280px !important;
	}
	.container580 {
		width: 260px !important;
	}
	/*-------- secions ----------*/
	.section-img img {
		width: 280px !important;
		height: auto !important;
	}
}

/*-------bootstrap style-------*/
@media only screen and (max-width: 992px) {.col-md-6 {width: 50%;}}
@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-2{
	width:16.66666667%
}
.lh38 .col-xs-2{
	line-height: 38px;
}
.col-xs-10{
	width:83.33333333%
}
.row input[type="text"], textarea{
    width: 100%!important;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    float: left;
}
.col-xs-12 {
    width: 100%;
}
