.gw-go-col.gw-go-blue1 {
	background: #FFF
}
.gw-go-col.gw-go-blue1 .gw-go-header-top, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue1 .gw-go-header-top {
	background: 0
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue1 .gw-go-header-top, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue1 .gw-go-header-top, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue1 .gw-go-header-top {
	background: #1a6cc6;
	background: -moz-linear-gradient(top, #1a6cc6 0, #0e60ba 100%);
	background: -ms-linear-gradient(top, #1a6cc6 0, #0e60ba 100%);
	background: -o-linear-gradient(top, #1a6cc6 0, #0e60ba 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a6cc6), color-stop(100%, #0e60ba));
	background: -webkit-linear-gradient(top, #1a6cc6 0, #0e60ba 100%);
	background: linear-gradient(top, #1a6cc6 0, #0e60ba 100%)
}
.gw-go-col.gw-go-blue1 .gw-go-header-bottom {
	background: #f5f5f5;
	border-top-color: #f5f5f5
}
.gw-go-col.gw-go-blue1 .gw-go-header h3, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue1 .gw-go-header h3 {
	color: #333
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue1 .gw-go-header h3, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue1 .gw-go-header h3, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue1 .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue1 .gw-go-coinf, .gw-go-col.gw-go-blue1 .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue1 .gw-go-coinf div, .gw-go-col.gw-go-blue1 .gw-go-coinb div {
	color: #1a6cc6
}
.gw-go-col.gw-go-blue1 .gw-go-coinf small, .gw-go-col.gw-go-blue1 .gw-go-coinb small {
	color: #333
}
.gw-go-col.gw-go-blue1 .gw-go-body li {
	background: #ebebeb
}
.gw-go-col.gw-go-blue1 .gw-go-body li.gw-go-even {
	background: #f5f5f5
}
.gw-go-col.gw-go-blue1 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue1 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue1 .gw-go-body li {
	color: #9d9d9d
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue1 .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue1 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue1 .gw-go-body li {
	color: #333
}
.gw-go-col.gw-go-blue1 .gw-go-btn.gw-go-btn-small {
	margin-top: 45px
}
.gw-go-col.gw-go-blue1 .gw-go-btn.gw-go-btn-medium {
	margin-top: 40px
}
.gw-go-col.gw-go-blue1 .gw-go-btn.gw-go-btn-large {
	margin-top: 33px
}
.gw-go-col.gw-go-blue1 .gw-go-btn {
	background: #9d9d9d;
	color: #fff
}
.gw-go-col.gw-go-blue1 .gw-go-btn:hover {
	background: #333
}
.gw-go-col.gw-go-blue2 {
	background: #FFF
}
.gw-go-col.gw-go-blue2 .gw-go-header-top, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue2 .gw-go-header-top {
	background: #1a6cc6;
	background: -moz-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -ms-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -o-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a6cc6), color-stop(100%, #0354ae));
	background: -webkit-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: linear-gradient(top, #1a6cc6 0, #0354ae 100%)
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue2 .gw-go-header-top, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue2 .gw-go-header-top, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue2 .gw-go-header-top {
	background: #333;
	background: -moz-linear-gradient(top, #333 0, #272727 100%);
	background: -ms-linear-gradient(top, #333 0, #272727 100%);
	background: -o-linear-gradient(top, #333 0, #272727 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #272727));
	background: -webkit-linear-gradient(top, #333 0, #272727 100%);
	background: linear-gradient(top, #333 0, #272727 100%)
}
.gw-go-col.gw-go-blue2 .gw-go-header-bottom, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue2 .gw-go-header-bottom {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3577be));
	background: -webkit-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: linear-gradient(top, #4889d1 0, #3577be 100%);
	border-top: solid 1px #6b9fd8
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue2 .gw-go-header-bottom, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue2 .gw-go-header-bottom, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue2 .gw-go-header-bottom {
	background: #5c5c5c;
	background: -moz-linear-gradient(top, #5c5c5c 0, #494949 100%);
	background: -ms-linear-gradient(top, #5c5c5c 0, #494949 100%);
	background: -o-linear-gradient(top, #5c5c5c 0, #494949 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c5c5c), color-stop(100%, #494949));
	background: -webkit-linear-gradient(top, #5c5c5c 0, #494949 100%);
	background: linear-gradient(top, #5c5c5c 0, #494949 100%);
	border-top: solid 1px #7b7b7b
}
.gw-go-col.gw-go-blue2 .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue2 .gw-go-coinf, .gw-go-col.gw-go-blue2 .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue2 .gw-go-coinf small, .gw-go-col.gw-go-blue2 .gw-go-coinb small {
	color: #333
}
.gw-go-col.gw-go-blue2 .gw-go-coinf div, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue2 .gw-go-coinf div, .gw-go-col.gw-go-blue2 .gw-go-coinb div, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue2 .gw-go-coinb div {
	color: #1a6cc6
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue2 .gw-go-coinf div, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue2 .gw-go-coinf div, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue2 .gw-go-coinf div, .gw-go-col-wrap:hover .gw-go-col.gw-go-blue2 .gw-go-coinb div, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue2 .gw-go-coinb div, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue2 .gw-go-coinb div {
	color: #333
}
.gw-go-col.gw-go-blue2 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue2 .gw-go-body li {
	background: #ebebeb;
	color: #333
}
.gw-go-col.gw-go-blue2 .gw-go-body li.gw-go-even {
	background: #f5f5f5
}
.gw-go-col.gw-go-blue2 .gw-go-btn {
	background: #ebebeb;
	background: -moz-linear-gradient(top, #ebebeb 0, #d3d3d3 100%);
	background: -ms-linear-gradient(top, #ebebeb 0, #d3d3d3 100%);
	background: -o-linear-gradient(top, #ebebeb 0, #d3d3d3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(100%, #d3d3d3));
	background: -webkit-linear-gradient(top, #ebebeb 0, #d3d3d3 100%);
	background: linear-gradient(top, #ebebeb 0, #d3d3d3 100%);
	border: solid 1px #d3d3d3;
	color: #333
}
.gw-go-col.gw-go-blue2 .gw-go-btn:hover {
	background: #d3d3d3;
	background: -moz-linear-gradient(bottom, #ebebeb 0, #d3d3d3 100%);
	background: -ms-linear-gradient(bottom, #ebebeb 0, #d3d3d3 100%);
	background: -o-linear-gradient(bottom, #ebebeb 0, #d3d3d3 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #ebebeb), color-stop(100%, #d3d3d3));
	background: -webkit-linear-gradient(bottom, #ebebeb 0, #d3d3d3 100%);
	background: linear-gradient(bottom, #ebebeb 0, #d3d3d3 100%)
}
.gw-go-col.gw-go-blue3a, .gw-go-col.gw-go-blue3b, .gw-go-col.gw-go-blue3c, .gw-go-col.gw-go-blue3d, .gw-go-col.gw-go-blue11a, .gw-go-col.gw-go-blue11b, .gw-go-col.gw-go-blue11c, .gw-go-col.gw-go-blue11d {
	background: #FFF
}
.gw-go-col.gw-go-blue3a .gw-go-header-top, .gw-go-col.gw-go-blue11a .gw-go-header-top {
	background: #5bcaef;
	background: -moz-linear-gradient(top, #5bcaef 0, #44b2d7 100%);
	background: -ms-linear-gradient(top, #5bcaef 0, #44b2d7 100%);
	background: -o-linear-gradient(top, #5bcaef 0, #44b2d7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bcaef), color-stop(100%, #44b2d7));
	background: -webkit-linear-gradient(top, #5bcaef 0, #44b2d7 100%);
	background: linear-gradient(top, #5bcaef 0, #44b2d7 100%)
}
.gw-go-col.gw-go-blue3a .gw-go-header-bottom, .gw-go-col.gw-go-blue11a .gw-go-header-bottom {
	background: #7cd5f2;
	background: -moz-linear-gradient(top, #7cd5f2 0, #69c2df 100%);
	background: -ms-linear-gradient(top, #7cd5f2 0, #69c2df 100%);
	background: -o-linear-gradient(top, #7cd5f2 0, #69c2df 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7cd5f2), color-stop(100%, #69c2df));
	background: -webkit-linear-gradient(top, #7cd5f2 0, #69c2df 100%);
	background: linear-gradient(top, #7cd5f2 0, #69c2df 100%);
	border-top: solid 1px #90dbf4
}
.gw-go-col.gw-go-blue3a .gw-go-header h3, .gw-go-col.gw-go-blue11a .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue3a .gw-go-coinf, .gw-go-col.gw-go-blue3a .gw-go-coinb, .gw-go-col.gw-go-blue11a .gw-go-coinf, .gw-go-col.gw-go-blue11a .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue3a .gw-go-coinf div, .gw-go-col.gw-go-blue3a .gw-go-coinb div, .gw-go-col.gw-go-blue11a .gw-go-coinf div, .gw-go-col.gw-go-blue11a .gw-go-coinb div {
	color: #5bcaef
}
.gw-go-col.gw-go-blue3a .gw-go-coinf small, .gw-go-col.gw-go-blue3a .gw-go-coinb small, .gw-go-col.gw-go-blue11a .gw-go-coinf small, .gw-go-col.gw-go-blue11a .gw-go-coinb small {
	color: #9d9d9d
}
.gw-go-col.gw-go-blue3b .gw-go-header-top, .gw-go-col.gw-go-blue11b .gw-go-header-top {
	background: #3898d8; /* Old browsers */
background: -moz-linear-gradient(top,  #3898d8 0%, #216999 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3898d8), color-stop(100%,#216999)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3898d8 0%,#216999 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3898d8 0%,#216999 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3898d8 0%,#216999 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3898d8 0%,#216999 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3898d8', endColorstr='#216999',GradientType=0 ); /* IE6-9 */
}
.gw-go-col.gw-go-blue3b .gw-go-header-bottom, .gw-go-col.gw-go-blue11b .gw-go-header-bottom {
	background: #3898d8; /* Old browsers */
background: -moz-linear-gradient(top,  #3898d8 0%, #216999 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3898d8), color-stop(100%,#216999)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3898d8 0%,#216999 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3898d8 0%,#216999 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3898d8 0%,#216999 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3898d8 0%,#216999 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3898d8', endColorstr='#216999',GradientType=0 ); /* IE6-9 */
}
.gw-go-col.gw-go-blue3b .gw-go-header h3, .gw-go-col.gw-go-blue11b .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue3b .gw-go-coinf, .gw-go-col.gw-go-blue3b .gw-go-coinb, .gw-go-col.gw-go-blue11b .gw-go-coinf, .gw-go-col.gw-go-blue11b .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue3b .gw-go-coinf div, .gw-go-col.gw-go-blue3b .gw-go-coinb div, .gw-go-col.gw-go-blue11b .gw-go-coinf div, .gw-go-col.gw-go-blue11b .gw-go-coinb div {
	color: #44aae1
}
.gw-go-col.gw-go-blue3b .gw-go-coinf small, .gw-go-col.gw-go-blue3b .gw-go-coinb small, .gw-go-col.gw-go-blue11b .gw-go-coinf small, .gw-go-col.gw-go-blue11b .gw-go-coinb small {
	color: #9d9d9d
}
.gw-go-col.gw-go-blue3c .gw-go-header-top, .gw-go-col.gw-go-blue11c .gw-go-header-top {
	 background: #25b25b; /* Old browsers */
background: -moz-linear-gradient(top,  #25b25b 0%, #0e8c3e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25b25b), color-stop(100%,#0e8c3e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #25b25b 0%,#0e8c3e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #25b25b 0%,#0e8c3e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #25b25b 0%,#0e8c3e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #25b25b 0%,#0e8c3e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b25b', endColorstr='#0e8c3e',GradientType=0 ); /* IE6-9 */
}
.gw-go-col.gw-go-blue3c .gw-go-header-bottom, .gw-go-col.gw-go-blue11c .gw-go-header-bottom {
	 background: #25b25b; /* Old browsers */
background: -moz-linear-gradient(top,  #25b25b 0%, #0e8c3e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25b25b), color-stop(100%,#0e8c3e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #25b25b 0%,#0e8c3e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #25b25b 0%,#0e8c3e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #25b25b 0%,#0e8c3e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #25b25b 0%,#0e8c3e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b25b', endColorstr='#0e8c3e',GradientType=0 ); /* IE6-9 */
}
.gw-go-col.gw-go-blue3c .gw-go-header h3, .gw-go-col.gw-go-blue11c .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue3c .gw-go-coinf, .gw-go-col.gw-go-blue3c .gw-go-coinb, .gw-go-col.gw-go-blue11c .gw-go-coinf, .gw-go-col.gw-go-blue11c .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue3c .gw-go-coinf div, .gw-go-col.gw-go-blue3c .gw-go-coinb div, .gw-go-col.gw-go-blue11c .gw-go-coinf div, .gw-go-col.gw-go-blue11c .gw-go-coinb div {
	color: #308cd4
}
.gw-go-col.gw-go-blue3c .gw-go-coinf small, .gw-go-col.gw-go-blue3c .gw-go-coinb small, .gw-go-col.gw-go-blue11c .gw-go-coinf small, .gw-go-col.gw-go-blue11c .gw-go-coinb small {
	color: #9d9d9d
}
.gw-go-col.gw-go-blue3d .gw-go-header-top, .gw-go-col.gw-go-blue11d .gw-go-header-top {
	background: #17a59e; /* Old browsers */
background: -moz-linear-gradient(top,  #17a59e 0%, #0c8781 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#17a59e), color-stop(100%,#0c8781)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #17a59e 0%,#0c8781 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #17a59e 0%,#0c8781 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #17a59e 0%,#0c8781 100%); /* IE10+ */
background: linear-gradient(to bottom,  #17a59e 0%,#0c8781 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a59e', endColorstr='#0c8781',GradientType=0 ); /* IE6-9 */
}
.gw-go-col.gw-go-blue3d .gw-go-header-bottom, .gw-go-col.gw-go-blue11d .gw-go-header-bottom {
	background: #17a59e; /* Old browsers */
background: -moz-linear-gradient(top,  #17a59e 0%, #0c8781 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#17a59e), color-stop(100%,#0c8781)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #17a59e 0%,#0c8781 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #17a59e 0%,#0c8781 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #17a59e 0%,#0c8781 100%); /* IE10+ */
background: linear-gradient(to bottom,  #17a59e 0%,#0c8781 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a59e', endColorstr='#0c8781',GradientType=0 ); /* IE6-9 */
}


.gw-go-col.gw-go-blue3d .gw-go-header-top, .gw-go-col.gw-go-blue11d .gw-go-header-top23 {
	background: #92c640; /* Old browsers */
background: -moz-linear-gradient(top,  #92c640 0%, #7ead32 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92c640), color-stop(100%,#7ead32)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #92c640 0%,#7ead32 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #92c640 0%,#7ead32 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #92c640 0%,#7ead32 100%); /* IE10+ */
background: linear-gradient(to bottom,  #92c640 0%,#7ead32 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92c640', endColorstr='#7ead32',GradientType=0 ); /* IE6-9 */
}
.gw-go-col.gw-go-blue3d .gw-go-header-bottom, .gw-go-col.gw-go-blue11d .gw-go-header-bottom23 {
	background: #92c640; /* Old browsers */
background: -moz-linear-gradient(top,  #92c640 0%, #7ead32 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92c640), color-stop(100%,#7ead32)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #92c640 0%,#7ead32 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #92c640 0%,#7ead32 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #92c640 0%,#7ead32 100%); /* IE10+ */
background: linear-gradient(to bottom,  #92c640 0%,#7ead32 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92c640', endColorstr='#7ead32',GradientType=0 ); /* IE6-9 */
}


.gw-go-col.gw-go-blue3d .gw-go-header h3, .gw-go-col.gw-go-blue11d .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue3d .gw-go-coinf, .gw-go-col.gw-go-blue3d .gw-go-coinb, .gw-go-col.gw-go-blue11d .gw-go-coinf, .gw-go-col.gw-go-blue11d .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue3d .gw-go-coinf div, .gw-go-col.gw-go-blue3d .gw-go-coinb div, .gw-go-col.gw-go-blue11d .gw-go-coinf div, .gw-go-col.gw-go-blue11d .gw-go-coinb div {
	color: #1a6cc6
}
.gw-go-col.gw-go-blue3d .gw-go-coinf small, .gw-go-col.gw-go-blue3d .gw-go-coinb small, .gw-go-col.gw-go-blue11d .gw-go-coinf small, .gw-go-col.gw-go-blue11d .gw-go-coinb small {
	color: #9d9d9d
}
.gw-go-col.gw-go-blue3a .gw-go-body, .gw-go-col.gw-go-blue3b .gw-go-body, .gw-go-col.gw-go-blue3c .gw-go-body, .gw-go-col.gw-go-blue3d .gw-go-body, .gw-go-col.gw-go-blue11a .gw-go-body, .gw-go-col.gw-go-blue11b .gw-go-body, .gw-go-col.gw-go-blue11c .gw-go-body, .gw-go-col.gw-go-blue11d .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue3a .gw-go-body li, .gw-go-col.gw-go-blue3b .gw-go-body li, .gw-go-col.gw-go-blue3c .gw-go-body li, .gw-go-col.gw-go-blue3d .gw-go-body li, .gw-go-col.gw-go-blue11a .gw-go-body li, .gw-go-col.gw-go-blue11b .gw-go-body li, .gw-go-col.gw-go-blue11c .gw-go-body li, .gw-go-col.gw-go-blue11d .gw-go-body li {
	background: #ebebeb
}
.gw-go-col.gw-go-blue3a .gw-go-body li.gw-go-even, .gw-go-col.gw-go-blue3b .gw-go-body li.gw-go-even, .gw-go-col.gw-go-blue3c .gw-go-body li.gw-go-even, .gw-go-col.gw-go-blue3d .gw-go-body li.gw-go-even, .gw-go-col.gw-go-blue11a .gw-go-body li.gw-go-even, .gw-go-col.gw-go-blue11b .gw-go-body li.gw-go-even, .gw-go-col.gw-go-blue11c .gw-go-body li.gw-go-even, .gw-go-col.gw-go-blue11d .gw-go-body li.gw-go-even {
	background: #f5f5f5
}
.gw-go-col.gw-go-blue3a .gw-go-body li, .gw-go-col.gw-go-blue3b .gw-go-body li, .gw-go-col.gw-go-blue3c .gw-go-body li, .gw-go-col.gw-go-blue3d .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue3a .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue3b .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue3c .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue3d .gw-go-body li, .gw-go-col.gw-go-blue11a .gw-go-body li, .gw-go-col.gw-go-blue11b .gw-go-body li, .gw-go-col.gw-go-blue11c .gw-go-body li, .gw-go-col.gw-go-blue11d .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue11a .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue11b .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue11c .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue11d .gw-go-body li {
	color: #9d9d9d
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue3a .gw-go-body li, .gw-go-col-wrap:hover .gw-go-col.gw-go-blue3b .gw-go-body li, .gw-go-col-wrap:hover .gw-go-col.gw-go-blue3c .gw-go-body li, .gw-go-col-wrap:hover .gw-go-col.gw-go-blue3d .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue3a .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue3b .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue3c .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue3d .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue3a .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue3b .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue3c .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue3d .gw-go-body li, .gw-go-col-wrap:hover .gw-go-col.gw-go-blue11a .gw-go-body li, .gw-go-col-wrap:hover .gw-go-col.gw-go-blue11b .gw-go-body li, .gw-go-col-wrap:hover .gw-go-col.gw-go-blue11c .gw-go-body li, .gw-go-col-wrap:hover .gw-go-col.gw-go-blue11d .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue11a .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue11b .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue11c .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue11d .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue11a .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue11b .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue11c .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue11d .gw-go-body li {
	color: #333
}
.gw-go-col.gw-go-blue3a .gw-go-btn, .gw-go-col.gw-go-blue11a .gw-go-btn {
	background: #7cd5f2;
	background: -moz-linear-gradient(top, #7cd5f2 0, #64bdda 100%);
	background: -ms-linear-gradient(top, #7cd5f2 0, #64bdda 100%);
	background: -o-linear-gradient(top, #7cd5f2 0, #64bdda 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7cd5f2), color-stop(100%, #64bdda));
	background: -webkit-linear-gradient(top, #7cd5f2 0, #64bdda 100%);
	background: linear-gradient(top, #7cd5f2 0, #64bdda 100%);
	border: solid 1px #4dbce1;
	color: #fff
}
.gw-go-col.gw-go-blue3a .gw-go-btn:hover, .gw-go-col.gw-go-blue11a .gw-go-btn:hover {
	background: #64bdda;
	background: -moz-linear-gradient(bottom, #7cd5f2 0, #64bdda 100%);
	background: -ms-linear-gradient(bottom, #7cd5f2 0, #64bdda 100%);
	background: -o-linear-gradient(bottom, #7cd5f2 0, #64bdda 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #7cd5f2), color-stop(100%, #64bdda));
	background: -webkit-linear-gradient(bottom, #7cd5f2 0, #64bdda 100%);
	background: linear-gradient(bottom, #7cd5f2 0, #64bdda 100%)
}
.gw-go-col.gw-go-blue3b .gw-go-btn, .gw-go-col.gw-go-blue11b .gw-go-btn {
	background: #69bbe7;
	background: -moz-linear-gradient(top, #69bbe7 0, #51a3cf 100%);
	background: -ms-linear-gradient(top, #69bbe7 0, #51a3cf 100%);
	background: -o-linear-gradient(top, #69bbe7 0, #51a3cf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69bbe7), color-stop(100%, #51a3cf));
	background: -webkit-linear-gradient(top, #69bbe7 0, #51a3cf 100%);
	background: linear-gradient(top, #69bbe7 0, #51a3cf 100%);
	border: solid 1px #3da3da;
	color: #fff
}
.gw-go-col.gw-go-blue3b .gw-go-btn:hover, .gw-go-col.gw-go-blue11b .gw-go-btn:hover {
	background: #51a3cf;
	background: -moz-linear-gradient(bottom, #69bbe7 0, #51a3cf 100%);
	background: -ms-linear-gradient(bottom, #69bbe7 0, #51a3cf 100%);
	background: -o-linear-gradient(bottom, #69bbe7 0, #51a3cf 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #69bbe7), color-stop(100%, #51a3cf));
	background: -webkit-linear-gradient(bottom, #69bbe7 0, #51a3cf 100%);
	background: linear-gradient(bottom, #69bbe7 0, #51a3cf 100%)
}
.gw-go-col.gw-go-blue3c .gw-go-btn, .gw-go-col.gw-go-blue11c .gw-go-btn {
	background: #59a3dd;
	background: -moz-linear-gradient(top, #59a3dd 0, #418bc5 100%);
	background: -ms-linear-gradient(top, #59a3dd 0, #418bc5 100%);
	background: -o-linear-gradient(top, #59a3dd 0, #418bc5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59a3dd), color-stop(100%, #418bc5));
	background: -webkit-linear-gradient(top, #59a3dd 0, #418bc5 100%);
	background: linear-gradient(top, #59a3dd 0, #418bc5 100%);
	border: solid 1px #237fc7;
	color: #fff
}
.gw-go-col.gw-go-blue3c .gw-go-btn:hover, .gw-go-col.gw-go-blue11c .gw-go-btn:hover {
	background: #418bc5;
	background: -moz-linear-gradient(bottom, #59a3dd 0, #418bc5 100%);
	background: -ms-linear-gradient(bottom, #59a3dd 0, #418bc5 100%);
	background: -o-linear-gradient(bottom, #59a3dd 0, #418bc5 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #59a3dd), color-stop(100%, #418bc5));
	background: -webkit-linear-gradient(bottom, #59a3dd 0, #418bc5 100%);
	background: linear-gradient(bottom, #59a3dd 0, #418bc5 100%)
}
.gw-go-col.gw-go-blue3d .gw-go-btn, .gw-go-col.gw-go-blue11d .gw-go-btn {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff
}
.gw-go-col.gw-go-blue3d .gw-go-btn:hover, .gw-go-col.gw-go-blue11d .gw-go-btn:hover {
	background: #3071b9;
	background: -moz-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: linear-gradient(bottom, #4889d1 0, #3071b9 100%)
}
.gw-go-col.gw-go-blue4a, .gw-go-col.gw-go-blue4b, .gw-go-col.gw-go-blue4c, .gw-go-col.gw-go-blue4d {
	background: #FFF
}
.gw-go-col.gw-go-blue4a .gw-go-header-top {
	background: #5bcaef;
	background: -moz-linear-gradient(top, #5bcaef 0, #44b2d7 100%);
	background: -ms-linear-gradient(top, #5bcaef 0, #44b2d7 100%);
	background: -o-linear-gradient(top, #5bcaef 0, #44b2d7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bcaef), color-stop(100%, #44b2d7));
	background: -webkit-linear-gradient(top, #5bcaef 0, #44b2d7 100%);
	background: linear-gradient(top, #5bcaef 0, #44b2d7 100%)
}
.gw-go-col.gw-go-blue4a .gw-go-header-bottom {
	background: #7cd5f2;
	background: -moz-linear-gradient(top, #7cd5f2 0, #69c2df 100%);
	background: -ms-linear-gradient(top, #7cd5f2 0, #69c2df 100%);
	background: -o-linear-gradient(top, #7cd5f2 0, #69c2df 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7cd5f2), color-stop(100%, #69c2df));
	background: -webkit-linear-gradient(top, #7cd5f2 0, #69c2df 100%);
	background: linear-gradient(top, #7cd5f2 0, #69c2df 100%);
	border-top: solid 1px #90dbf4
}
.gw-go-col.gw-go-blue4a .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue4a .gw-go-coinf, .gw-go-col.gw-go-blue4a .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue4a .gw-go-coinf div, .gw-go-col.gw-go-blue4a .gw-go-coinb div {
	color: #5bcaef
}
.gw-go-col.gw-go-blue4b .gw-go-header-top {
	background: #44aae1;
	background: -moz-linear-gradient(top, #44aae1 0, #389ed5 100%);
	background: -ms-linear-gradient(top, #44aae1 0, #389ed5 100%);
	background: -o-linear-gradient(top, #44aae1 0, #389ed5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #44aae1), color-stop(100%, #389ed5));
	background: -webkit-linear-gradient(top, #44aae1 0, #389ed5 100%);
	background: linear-gradient(top, #44aae1 0, #389ed5 100%)
}
.gw-go-col.gw-go-blue4b .gw-go-header-bottom {
	background: #69bbe7;
	background: -moz-linear-gradient(top, #69bbe7 0, #57a9d4 100%);
	background: -ms-linear-gradient(top, #69bbe7 0, #57a9d4 100%);
	background: -o-linear-gradient(top, #69bbe7 0, #57a9d4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69bbe7), color-stop(100%, #57a9d4));
	background: -webkit-linear-gradient(top, #69bbe7 0, #57a9d4 100%);
	background: linear-gradient(top, #69bbe7 0, #57a9d4 100%);
	border-top: solid 1px #80c6eb
}
.gw-go-col.gw-go-blue4b .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue4b .gw-go-coinf, .gw-go-col.gw-go-blue4b .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue4b .gw-go-coinf div, .gw-go-col.gw-go-blue4b .gw-go-coinb div {
	color: #44aae1
}
.gw-go-col.gw-go-blue4c .gw-go-header-top {
	background: #308cd4;
	background: -moz-linear-gradient(top, #308cd4 0, #1974bc 100%);
	background: -ms-linear-gradient(top, #308cd4 0, #1974bc 100%);
	background: -o-linear-gradient(top, #308cd4 0, #1974bc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #308cd4), color-stop(100%, #1974bc));
	background: -webkit-linear-gradient(top, #308cd4 0, #1974bc 100%);
	background: linear-gradient(top, #308cd4 0, #1974bc 100%)
}
.gw-go-col.gw-go-blue4c .gw-go-header-bottom {
	background: #59a3dd;
	background: -moz-linear-gradient(top, #59a3dd 0, #4791c9 100%);
	background: -ms-linear-gradient(top, #59a3dd 0, #4791c9 100%);
	background: -o-linear-gradient(top, #59a3dd 0, #4791c9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59a3dd), color-stop(100%, #4791c9));
	background: -webkit-linear-gradient(top, #59a3dd 0, #4791c9 100%);
	background: linear-gradient(top, #59a3dd 0, #4791c9 100%);
	border-top: solid 1px #74b3e3
}
.gw-go-col.gw-go-blue4c .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue4c .gw-go-coinf, .gw-go-col.gw-go-blue4c .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue4c .gw-go-coinf div, .gw-go-col.gw-go-blue4c .gw-go-coinb div {
	color: #308cd4
}
.gw-go-col.gw-go-blue4d .gw-go-header-top {
	background: #1a6cc6;
	background: -moz-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -ms-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -o-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a6cc6), color-stop(100%, #0354ae));
	background: -webkit-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: linear-gradient(top, #1a6cc6 0, #0354ae 100%)
}
.gw-go-col.gw-go-blue4d .gw-go-header-bottom {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3577be));
	background: -webkit-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: linear-gradient(top, #4889d1 0, #3577be 100%);
	border-top: solid 1px #6b9fd8
}
.gw-go-col.gw-go-blue4d .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue4d .gw-go-coinf, .gw-go-col.gw-go-blue4d .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue4d .gw-go-coinf div, .gw-go-col.gw-go-blue4d .gw-go-coinb div {
	color: #1a6cc6
}
.gw-go-col.gw-go-blue4a .gw-go-body, .gw-go-col.gw-go-blue4b .gw-go-body, .gw-go-col.gw-go-blue4c .gw-go-body, .gw-go-col.gw-go-blue4d .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue4a .gw-go-body li, .gw-go-col.gw-go-blue4b .gw-go-body li, .gw-go-col.gw-go-blue4c .gw-go-body li, .gw-go-col.gw-go-blue4d .gw-go-body li {
	background: #c4ecf9;
	color: #308cd4
}
.gw-go-col.gw-go-blue4a .gw-go-body li.gw-go-even, .gw-go-col.gw-go-blue4b .gw-go-body li.gw-go-even, .gw-go-col.gw-go-blue4c .gw-go-body li.gw-go-even, .gw-go-col.gw-go-blue4d .gw-go-body li.gw-go-even {
	background: #def4fc
}
.gw-go-col.gw-go-blue4a .gw-go-btn {
	background: #7cd5f2;
	background: -moz-linear-gradient(top, #7cd5f2 0, #64bdda 100%);
	background: -ms-linear-gradient(top, #7cd5f2 0, #64bdda 100%);
	background: -o-linear-gradient(top, #7cd5f2 0, #64bdda 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7cd5f2), color-stop(100%, #64bdda));
	background: -webkit-linear-gradient(top, #7cd5f2 0, #64bdda 100%);
	background: linear-gradient(top, #7cd5f2 0, #64bdda 100%);
	border: solid 1px #4dbce1;
	color: #fff
}
.gw-go-col.gw-go-blue4a .gw-go-btn:hover {
	background: #64bdda;
	background: -moz-linear-gradient(bottom, #7cd5f2 0, #64bdda 100%);
	background: -ms-linear-gradient(bottom, #7cd5f2 0, #64bdda 100%);
	background: -o-linear-gradient(bottom, #7cd5f2 0, #64bdda 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #7cd5f2), color-stop(100%, #64bdda));
	background: -webkit-linear-gradient(bottom, #7cd5f2 0, #64bdda 100%);
	background: linear-gradient(bottom, #7cd5f2 0, #64bdda 100%)
}
.gw-go-col.gw-go-blue4b .gw-go-btn {
	background: #69bbe7;
	background: -moz-linear-gradient(top, #69bbe7 0, #51a3cf 100%);
	background: -ms-linear-gradient(top, #69bbe7 0, #51a3cf 100%);
	background: -o-linear-gradient(top, #69bbe7 0, #51a3cf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69bbe7), color-stop(100%, #51a3cf));
	background: -webkit-linear-gradient(top, #69bbe7 0, #51a3cf 100%);
	background: linear-gradient(top, #69bbe7 0, #51a3cf 100%);
	border: solid 1px #3da3da;
	color: #fff
}
.gw-go-col.gw-go-blue4b .gw-go-btn:hover {
	background: #51a3cf;
	background: -moz-linear-gradient(bottom, #69bbe7 0, #51a3cf 100%);
	background: -ms-linear-gradient(bottom, #69bbe7 0, #51a3cf 100%);
	background: -o-linear-gradient(bottom, #69bbe7 0, #51a3cf 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #69bbe7), color-stop(100%, #51a3cf));
	background: -webkit-linear-gradient(bottom, #69bbe7 0, #51a3cf 100%);
	background: linear-gradient(bottom, #69bbe7 0, #51a3cf 100%)
}
.gw-go-col.gw-go-blue4c .gw-go-btn {
	background: #59a3dd;
	background: -moz-linear-gradient(top, #59a3dd 0, #418bc5 100%);
	background: -ms-linear-gradient(top, #59a3dd 0, #418bc5 100%);
	background: -o-linear-gradient(top, #59a3dd 0, #418bc5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59a3dd), color-stop(100%, #418bc5));
	background: -webkit-linear-gradient(top, #59a3dd 0, #418bc5 100%);
	background: linear-gradient(top, #59a3dd 0, #418bc5 100%);
	border: solid 1px #237fc7;
	color: #fff
}
.gw-go-col.gw-go-blue4c .gw-go-btn:hover {
	background: #418bc5;
	background: -moz-linear-gradient(bottom, #59a3dd 0, #418bc5 100%);
	background: -ms-linear-gradient(bottom, #59a3dd 0, #418bc5 100%);
	background: -o-linear-gradient(bottom, #59a3dd 0, #418bc5 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #59a3dd), color-stop(100%, #418bc5));
	background: -webkit-linear-gradient(bottom, #59a3dd 0, #418bc5 100%);
	background: linear-gradient(bottom, #59a3dd 0, #418bc5 100%)
}
.gw-go-col.gw-go-blue4d .gw-go-btn {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff
}
.gw-go-col.gw-go-blue4d .gw-go-btn:hover {
	background: #3071b9;
	background: -moz-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: linear-gradient(bottom, #4889d1 0, #3071b9 100%)
}
.gw-go-col.gw-go-blue5 {
	background: #FFF
}
.gw-go-col.gw-go-blue5 .gw-go-header-top {
	background: #1a6cc6;
	background: -moz-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -ms-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -o-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a6cc6), color-stop(100%, #0354ae));
	background: -webkit-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: linear-gradient(top, #1a6cc6 0, #0354ae 100%)
}
.gw-go-col.gw-go-blue5 .gw-go-header-bottom, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue5 .gw-go-header-bottom {
	background: #FFF;
	background: -moz-linear-gradient(top, #FFF 0, #ededec 100%);
	background: -ms-linear-gradient(top, #FFF 0, #ededec 100%);
	background: -o-linear-gradient(top, #FFF 0, #ededec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #ededec));
	background: -webkit-linear-gradient(top, #FFF 0, #ededec 100%);
	background: linear-gradient(top, #FFF 0, #ededec 100%);
	border-top: solid 1px #fdfdfd
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue5 .gw-go-header-bottom, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue5 .gw-go-header-bottom, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue5 .gw-go-header-bottom {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3577be));
	background: -webkit-linear-gradient(top, #4889d1 0, #3577be 100%);
	background: linear-gradient(top, #4889d1 0, #3577be 100%);
	border-top: solid 1px #6b9fd8
}
.gw-go-col.gw-go-blue5 .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue5 .gw-go-coinf, .gw-go-col.gw-go-blue5 .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue5 .gw-go-coinf div, .gw-go-col.gw-go-blue5 .gw-go-coinb div {
	color: #1a6cc6
}
.gw-go-col.gw-go-blue5 .gw-go-coinf small, .gw-go-col.gw-go-blue5 .gw-go-coinb small {
	color: #333
}
.gw-go-col.gw-go-blue5 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue5 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue5 .gw-go-body li {
	background: #ebebeb;
	color: #9d9d9d
}
.gw-go-col.gw-go-blue5 .gw-go-body li.gw-go-even, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue5 .gw-go-body li.gw-go-even {
	background: #f5f5f5
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue5 .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue5 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue5 .gw-go-body li {
	background: #c4ecf9;
	color: #333
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue5 .gw-go-body li.gw-go-even, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue5 .gw-go-body li.gw-go-even, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue5 .gw-go-body li.gw-go-even {
	background: #def4fc
}
.gw-go-col.gw-go-blue5 .gw-go-btn {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff
}
.gw-go-col.gw-go-blue5 .gw-go-btn:hover {
	background: #3071b9;
	background: -moz-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: linear-gradient(bottom, #4889d1 0, #3071b9 100%)
}
.gw-go-col.gw-go-blue6, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 {
	background: #FFF
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue6, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 {
	background: #1a6cc6
}
.gw-go-col.gw-go-blue6 .gw-go-header-top, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-header-top {
	background: #FFF
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue6 .gw-go-header-top, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-header-top, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 .gw-go-header-top {
	background: #1a6cc6;
	background: -moz-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -ms-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -o-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a6cc6), color-stop(100%, #0354ae));
	background: -webkit-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: linear-gradient(top, #1a6cc6 0, #0354ae 100%)
}
.gw-go-col.gw-go-blue6 .gw-go-header-bottom, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-header-bottom {
	background: #FFF;
	background: -moz-linear-gradient(top, #FFF 0, #ededec 100%);
	background: -ms-linear-gradient(top, #FFF 0, #ededec 100%);
	background: -o-linear-gradient(top, #FFF 0, #ededec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #ededec));
	background: -webkit-linear-gradient(top, #FFF 0, #ededec 100%);
	background: linear-gradient(top, #FFF 0, #ededec 100%);
	border-top: solid 1px #FFF
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue6 .gw-go-header-bottom, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-header-bottom, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 .gw-go-header-bottom {
	background: #1a6cc6;
	border-top: solid 1px #1a6cc6
}
.gw-go-col.gw-go-blue6 .gw-go-header h3, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-header h3 {
	color: #1a6cc6
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue6 .gw-go-header h3, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-header h3, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue6 .gw-go-coinf, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-coinf, .gw-go-col.gw-go-blue6 .gw-go-coinb, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-coinb {
	border: solid 2px #1a6cc6
}
.gw-go-col.gw-go-blue6 .gw-go-coinf div, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-coinf div, .gw-go-col.gw-go-blue6 .gw-go-coinb div, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-coinb div {
	background: #1a6cc6;
	color: #FFF
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue6 .gw-go-coinf, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-coinf, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 .gw-go-coinf, .gw-go-col-wrap:hover .gw-go-col.gw-go-blue6 .gw-go-coinb, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-coinb, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue6 .gw-go-coinf div, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-coinf div, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 .gw-go-coinf div, .gw-go-col-wrap:hover .gw-go-col.gw-go-blue6 .gw-go-coinb div, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-coinb div, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 .gw-go-coinb div {
	background: #FFF;
	color: #1a6cc6
}
.gw-go-col.gw-go-blue6 .gw-go-coinb small, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 .gw-go-coinb small {
	color: #333
}
.gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-coinb small {
	color: #fff
}
.gw-go-col.gw-go-blue6 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue6 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-body li {
	background: #ebebeb;
	border-top-color: #FFF;
	color: #9d9d9d
}
.gw-go-col.gw-go-blue6 .gw-go-body li.gw-go-even, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-body li.gw-go-even {
	background: #f5f5f5
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue6 .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 .gw-go-body li {
	background: 0;
	border-top-color: #FFF;
	color: #FFF
}
.gw-go-col.gw-go-blue6 .gw-go-btn, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-btn {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue6 .gw-go-btn, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-btn, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 .gw-go-btn {
	background: #FFF;
	background: -moz-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -ms-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -o-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #e7e7e7));
	background: -webkit-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: linear-gradient(top, #FFF 0, #e7e7e7 100%);
	border: solid 1px #0c5eb7;
	color: #1a6cc6
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue6 .gw-go-btn:hover, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue6 .gw-go-btn:hover, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue6 .gw-go-btn:hover {
	background: #e7e7e7;
	background: -moz-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -ms-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -o-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #FFF), color-stop(100%, #e7e7e7));
	background: -webkit-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: linear-gradient(bottom, #FFF 0, #e7e7e7 100%)
}
.gw-go-col.gw-go-blue7 {
	background: #FFF
}
.gw-go-col.gw-go-blue7 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue7 .gw-go-body li {
	background: #c4ecf9;
	color: #308cd4
}
.gw-go-col.gw-go-blue7 .gw-go-body li.gw-go-even {
	background: #def4fc
}
.gw-go-col.gw-go-blue7 .gw-go-btn {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff
}
.gw-go-col.gw-go-blue7 .gw-go-btn:hover {
	background: #3071b9;
	background: -moz-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: linear-gradient(bottom, #4889d1 0, #3071b9 100%)
}
.gw-go-col.gw-go-blue8, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue8 {
	background: #FFF
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue8, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue8, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue8 {
	background: #1a6cc6
}
.gw-go-col.gw-go-blue8 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue8 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue8 .gw-go-body li {
	background: #ebebeb;
	border-top-color: #FFF;
	color: #9d9d9d
}
.gw-go-col.gw-go-blue8 .gw-go-body li.gw-go-even, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue8 .gw-go-body li.gw-go-even {
	background: #f5f5f5
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue8 .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue8 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue8 .gw-go-body li {
	background: 0;
	border-top-color: #FFF;
	color: #FFF
}
.gw-go-col.gw-go-blue8 .gw-go-btn, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue8 .gw-go-btn {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue8 .gw-go-btn, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue8 .gw-go-btn, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue8 .gw-go-btn {
	background: #FFF;
	background: -moz-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -ms-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -o-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #e7e7e7));
	background: -webkit-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: linear-gradient(top, #FFF 0, #e7e7e7 100%);
	border: solid 1px #0c5eb7;
	color: #1a6cc6
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue8 .gw-go-btn:hover, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue8 .gw-go-btn:hover, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue8 .gw-go-btn:hover {
	background: #e7e7e7;
	background: -moz-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -ms-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -o-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #FFF), color-stop(100%, #e7e7e7));
	background: -webkit-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: linear-gradient(bottom, #FFF 0, #e7e7e7 100%)
}
.gw-go-col.gw-go-blue9 {
	background: #1a6cc6
}
.gw-go-col.gw-go-blue9 .gw-go-header-top {
	background: #1a6cc6;
	background: -moz-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -ms-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -o-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a6cc6), color-stop(100%, #0354ae));
	background: -webkit-linear-gradient(top, #1a6cc6 0, #0354ae 100%);
	background: linear-gradient(top, #1a6cc6 0, #0354ae 100%)
}
.gw-go-col.gw-go-blue9 .gw-go-header-bottom {
	height: auto;
	border-top: solid 1px #7cb0e1
}
.gw-go-col.gw-go-blue9 .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue9 .gw-go-coinf, .gw-go-col.gw-go-blue9 .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue9 .gw-go-coinf, .gw-go-col.gw-go-blue9 .gw-go-coinb {
	color: #1a6cc6
}
.gw-go-col.gw-go-blue9 .gw-go-coinf small, .gw-go-col.gw-go-blue9 .gw-go-coinb small {
	color: #333
}
.gw-go-col.gw-go-blue9 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue9 .gw-go-body li {
	background: #c4ecf9;
	color: #308cd4
}
.gw-go-col.gw-go-blue9 .gw-go-body li.gw-go-even {
	background: #def4fc
}
.gw-go-col.gw-go-blue9 .gw-go-btn {
	background: #FFF;
	background: -moz-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -ms-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -o-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #e7e7e7));
	background: -webkit-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: linear-gradient(top, #FFF 0, #e7e7e7 100%);
	border: solid 1px #0c5eb7;
	color: #1a6cc6
}
.gw-go-col.gw-go-blue9 .gw-go-btn:hover {
	background: #e7e7e7;
	background: -moz-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -ms-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -o-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #FFF), color-stop(100%, #e7e7e7));
	background: -webkit-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: linear-gradient(bottom, #FFF 0, #e7e7e7 100%)
}
.gw-go-col.gw-go-blue10 {
	background: #FFF
}
.gw-go-col.gw-go-blue10 .gw-go-header-bottom {
	height: auto;
	border-top: 0
}
.gw-go-col.gw-go-blue10 .gw-go-header h3 {
	color: #FFF
}
.gw-go-col.gw-go-blue10 .gw-go-coinf, .gw-go-col.gw-go-blue10 .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue10 .gw-go-coinf, .gw-go-col.gw-go-blue10 .gw-go-coinb {
	color: #1a6cc6
}
.gw-go-col.gw-go-blue10 .gw-go-coinf small, .gw-go-col.gw-go-blue10 .gw-go-coinb small {
	color: #333
}
.gw-go-col.gw-go-blue10 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue10 .gw-go-body li {
	background: #ebebeb;
	border-top-color: #FFF;
	color: #333
}
.gw-go-col.gw-go-blue10 .gw-go-body li.gw-go-even {
	background: #f5f5f5
}
.gw-go-col.gw-go-blue10 .gw-go-btn {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff
}
.gw-go-col.gw-go-blue10 .gw-go-btn:hover {
	background: #3071b9;
	background: -moz-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: linear-gradient(bottom, #4889d1 0, #3071b9 100%)
}
.gw-go-col.gw-go-blue12 {
	background: #FFF
}
.gw-go-col.gw-go-blue12 .gw-go-header-bottom {
	height: auto;
	border-top: 0
}
.gw-go-col.gw-go-blue12 .gw-go-header h3 {
	color: #1a6cc6
}
.gw-go-col.gw-go-blue12 .gw-go-header h3 small {
	color: #333
}
.gw-go-col.gw-go-blue12 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue12 .gw-go-body li {
	background: #ebebeb;
	border-top-color: #f5f5f5;
	color: #333
}
.gw-go-col.gw-go-blue12 .gw-go-body li a {
	color: #333
}
.gw-go-col.gw-go-blue12 .gw-go-body li:first-child {
	border-top-color: #FFF
}
.gw-go-col.gw-go-blue12 .gw-go-body li.gw-go-even {
	background: #f5f5f5;
	border-top-color: #ebebeb
}
.gw-go-col.gw-go-blue12 .gw-go-btn {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff
}
.gw-go-col.gw-go-blue12 .gw-go-btn:hover {
	background: #3071b9;
	background: -moz-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: linear-gradient(bottom, #4889d1 0, #3071b9 100%)
}
.gw-go-col.gw-go-blue13 .gw-go-header-bottom {
	height: auto;
	border-top: 0
}
.gw-go-col.gw-go-blue13, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 {
	background: #FFF
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue13, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue13 {
	background: #1a6cc6
}
.gw-go-col.gw-go-blue13 .gw-go-header, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-header {
	background: -moz-linear-gradient(top, #FFF 50%, #edecec 100%);
	background: -ms-linear-gradient(top, #FFF 50%, #edecec 100%);
	background: -o-linear-gradient(top, #FFF 50%, #edecec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFF), color-stop(100%, #edecec));
	background: -webkit-linear-gradient(top, #FFF 50%, #edecec 100%);
	background: linear-gradient(top, #FFF 50%, #edecec 100%)
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue13 .gw-go-header, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-header, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue13 .gw-go-header {
	background: -moz-linear-gradient(top, #1a6cc6 50%, #0354ae 100%);
	background: -ms-linear-gradient(top, #1a6cc6 50%, #0354ae 100%);
	background: -o-linear-gradient(top, #1a6cc6 50%, #0354ae 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #1a6cc6), color-stop(100%, #0354ae));
	background: -webkit-linear-gradient(top, #1a6cc6 50%, #0354ae 100%);
	background: linear-gradient(top, #1a6cc6 50%, #0354ae 100%)
}
.gw-go-col.gw-go-blue13 .gw-go-header, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-header, .gw-go-col.gw-go-blue13 .gw-go-header h1, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-header h1 {
	color: #1a6cc6
}
.gw-go-col.gw-go-blue13 .gw-go-header p, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-header p {
	color: #333
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue13 .gw-go-header, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-header, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue13 .gw-go-header, .gw-go-col-wrap:hover .gw-go-col.gw-go-blue13 .gw-go-header h1, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-header h1, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue13 .gw-go-header h1 {
	color: #FFF
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue13 .gw-go-header p, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-header p, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue13 .gw-go-header p {
	color: #FFF
}
.gw-go-col.gw-go-blue13 .gw-go-body, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue13 .gw-go-body, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-body, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue13 .gw-go-body {
	border-bottom-color: #FFF
}
.gw-go-col.gw-go-blue13 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-body li {
	background: #ebebeb;
	border-top-color: #FFF;
	color: #9d9d9d
}
.gw-go-col.gw-go-blue13 .gw-go-body li.gw-go-even, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-body li.gw-go-even {
	background: #f5f5f5
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue13 .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue13 .gw-go-body li {
	background: 0;
	border-top-color: #FFF;
	color: #FFF
}
.gw-go-col.gw-go-blue13 .gw-go-btn, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-btn {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue13 .gw-go-btn, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-btn, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue13 .gw-go-btn {
	background: #FFF;
	background: -moz-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -ms-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -o-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #e7e7e7));
	background: -webkit-linear-gradient(top, #FFF 0, #e7e7e7 100%);
	background: linear-gradient(top, #FFF 0, #e7e7e7 100%);
	border: solid 1px #0c5eb7;
	color: #1a6cc6
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue13 .gw-go-btn:hover, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue13 .gw-go-btn:hover, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue13 .gw-go-btn:hover {
	background: #e7e7e7;
	background: -moz-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -ms-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -o-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #FFF), color-stop(100%, #e7e7e7));
	background: -webkit-linear-gradient(bottom, #FFF 0, #e7e7e7 100%);
	background: linear-gradient(bottom, #FFF 0, #e7e7e7 100%)
}
.gw-go-col.gw-go-blue14, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue14 {
	background: #f5f5f5
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue14, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue14, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue14 {
	background: #FFF
}
.gw-go-col.gw-go-blue14 .gw-go-header-top {
	background: #FFF
}
.gw-go-col.gw-go-blue14 .gw-go-header h3, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue14 .gw-go-header h3 {
	color: #333
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue14 .gw-go-header h3, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue14 .gw-go-header h3, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue14 .gw-go-header h3 {
	color: #1a6cc6
}
.gw-go-col.gw-go-blue14 .gw-go-coinf, .gw-go-col.gw-go-blue14 .gw-go-coinb {
	border: solid 2px #9d9d9d
}
.gw-go-col.gw-go-blue14 .gw-go-coinf div, .gw-go-col.gw-go-blue14 .gw-go-coinb div {
	color: #1a6cc6
}
.gw-go-col.gw-go-blue14 .gw-go-coinf small, .gw-go-col.gw-go-blue14 .gw-go-coinb small {
	color: #9d9d9d
}
.gw-go-col.gw-go-blue14 .gw-go-body, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue14 .gw-go-body {
	border-bottom-color: #FFF
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue14 .gw-go-body, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue14 .gw-go-body, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue14 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue14 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue14 .gw-go-body li {
	border-top-color: #FFF;
	color: #9d9d9d
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue14 .gw-go-body li, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue14 .gw-go-body li, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue14 .gw-go-body li {
	border-top-color: #ebebeb;
	color: #333
}
.gw-go-col.gw-go-blue14 .gw-go-btn, .gw-go:hover .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue14 .gw-go-btn {
	background: #9d9d9d;
	background: -moz-linear-gradient(top, #9d9d9d 0, #818080 100%);
	background: -ms-linear-gradient(top, #9d9d9d 0, #818080 100%);
	background: -o-linear-gradient(top, #9d9d9d 0, #818080 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9d9d9d), color-stop(100%, #818080));
	background: -webkit-linear-gradient(top, #9d9d9d 0, #818080 100%);
	background: linear-gradient(top, #9d9d9d 0, #818080 100%);
	color: #fff
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue14 .gw-go-btn, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue14 .gw-go-btn, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue14 .gw-go-btn {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	color: #fff
}
.gw-go-col-wrap:hover .gw-go-col.gw-go-blue14 .gw-go-btn:hover, .gw-go .gw-go-col-wrap.gw-go-current .gw-go-col.gw-go-blue14 .gw-go-btn:hover, .gw-go:hover .gw-go-col-wrap.gw-go-current:hover .gw-go-col.gw-go-blue14 .gw-go-btn:hover {
	background: #3071b9;
	background: -moz-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: linear-gradient(bottom, #4889d1 0, #3071b9 100%)
}
.gw-go-col.gw-go-blue15 {
	background: #FFF
}
.gw-go-col.gw-go-blue15 .gw-go-body {
	border-bottom-color: #ebebeb
}
.gw-go-col.gw-go-blue15 .gw-go-body li {
	background: #ebebeb;
	color: #1a6cc6
}
.gw-go-col.gw-go-blue15 .gw-go-body li.gw-go-even {
	background: #def4fc
}
.gw-go-col.gw-go-blue15 .gw-go-btn {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff
}
.gw-go-col.gw-go-blue15 .gw-go-btn:hover {
	background: #3071b9;
	background: -moz-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(bottom, #4889d1 0, #3071b9 100%);
	background: linear-gradient(bottom, #4889d1 0, #3071b9 100%)
}



/*********************DATE ON:18/10/2013**************************************/
/*******FOR 7**********/
.gradient-blue
 {
	background: #4889d1;
	background: -moz-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -ms-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -o-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4889d1), color-stop(100%, #3071b9));
	background: -webkit-linear-gradient(top, #4889d1 0, #3071b9 100%);
	background: linear-gradient(top, #4889d1 0, #3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff
}
