
.form-control + ul, .chosen-container + ul {position: relative;}
.panel .form-control + ul > li {top: 0px;}
.panel .chosen-container + ul > li, #coupon_code + ul > li {top: 3px;}
.parsley-errors-list.filled {top: 3px;}
.input-group .parsley-errors-list.filled {top: 43px;}
#coupon_code + ul, .chosen-container + ul{top: 0px !important;}
input.parsley-success,select.parsley-success,textarea.parsley-success, select.parsley-success + .chosen-container {color: #468847;background-color: #DFF0D8;
}
input.parsley-error,select.parsley-error,textarea.parsley-error, select.form-control + .chosen-container {
   
}

.chosen-select + ul{top: 37px !important;}
.my_profile_div ul li.parsley-required {
width: auto;
margin-right: 0;
line-height: 17px;
padding: 5px 10px;
}
.my_profile_div ul li.parsley-type {
width: auto;
margin-right: 0;
line-height: 17px;
padding: 5px 10px;
}
.adva ul li.parsley-type {
width: auto;
margin-right: 0px;
line-height: 17px;
padding: 8px 9px;
margin-top: 32px;
}
.my_profile_div ul li.parsley-pattern {
width: auto;
margin-right: 0;
line-height: 17px;
padding: 5px 10px;
}

.login_profile .form-control+ul>li {
margin: 0;
width: auto;
}
textarea.form-control + ul li.parsley-required {
top:25px;
}
.parsley-errors-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: .9em;
    line-height: 0;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}
.parsley-errors-list.filled {
    opacity: 1;
}
input.form-control,select.form-control,textarea.form-control {
  
}
.form-control+ul>li,.phonecode_error, .chosen-container+ul>li {
    background: #f5f5f5;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.30);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.30);
    display: inline-block;
    padding: 10px;
    position: absolute;
    right: 0;
	line-height:10px;
    z-index: 999;
}
.phonecode_error.hide {
    display: none;
}
.form-control+ul>li:after, .chosen-container+ul>li:after {
    border: solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: auto;
    pointer-events: none;
    position: absolute;
    width: 0;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #f5f5f5;
    border-width: 10px;
    margin-left: -30px;
}
textarea.form-control+ul>li {
    margin-top: -22px;
}
.form-control.resetpassword+.parsley-errors-list {
    position: relative;
    width: 445px;
}
#select0 + ul > li {
top: 37px;
}


