.input-spinner {
	padding: 5px;
x
}
.ui-spinner {
	position: relative;
	border: 0px solid white;
}
.ui-spinner-buttons {
	position: absolute
}
.ui-spinner-button {
	overflow: hidden;
	border: 1px solid #bbb;
	border-left: 0;
	-moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	cursor: pointer;
	width: 20px;
	height: 10px;
}
.ui-spinner-up {
	background: url(../img/spinner.png) no-repeat -2px 1px;
	border-bottom: 0;
}
.ui-spinner-down {
	background: url(../img/spinner.png) no-repeat -2px -11px;
	height: 16px !important;
}
