/*!
 * Start Bootstrap - Heroic Features (https://startbootstrap.com/template-overviews/heroic-features)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-heroic-features/blob/master/LICENSE)
 */

a:hover {
    color: #ccc;
    text-decoration:none;
}
a {
    color: #000;}
.card {
  height: 100%;
}
.top-header {background: #ffe900;
    padding: 15px 0;}
.top-header img    { width: 368px;}
.main-menu {text-align: center;background-color: #ffa800;}
.main-menu .navbar-nav .nav-link {    padding-right: 30px;padding-left: 30px;color: #000;}
.main-menu .navbar-nav {margin: 0 auto;}
.jumbotron {    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 450px; background-position:center;}
 .main-footer{background-color: #ffeb00;padding-top:20px; padding-bottom:20px;}
 .menu-footer ul li a {font-size:12px;}
 .copy-right p {text-align: center; font-size:12px;}
 .btn-primary {
    color: #fff;
   background-color: #ee8726;
    border-color: #ee8726;
}

.btn-primary:hover{ color: #000; background-color: transparent; border-color: #000; }
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{ color: #000; background-color: transparent; border-color: #000;}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow:none;
}
/*****************product*************/


img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;margin:0 auto; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block;  }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card-product {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ffa800;
  padding:10px 15pxs;
  border: none;
  text-transform: UPPERCASE;
/*  font-weight: bold;*/
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
            
.loader {
 width: 100%;
 display: inline-block;
 background: RGBA(0, 0, 0, 0.28);
 position: absolute;
 top: 0px;
 float: left;
 z-index: 99;
 bottom: 0px;
}
.card-title{
	max-height: 85px;
	min-height: 85px;
}
.card-img-top{
	max-height: 175px;
	min-height: 175px;
}
body{position: relative;}
.dn{display: none !important;}            
.back-btn a i {    font-size: 20px;margin-bottom: 19px;color:#333232;} 
.back-btn a:hover i {color: #faa802;} 
.tac{text-align: center};

/*# sourceMappingURL=style.css.map */



