/*	
	Document   : style.css
	Author     : Eliza Witkowska (http://codebusters.pl/en/)
	Description: Stylesheet for CodeIgniter frontend language files editor.
*/

#wrapperL{width:900px; margin:0 auto;}

.menu a{color:#546f8e;}
.language a{color:#437394;}
.files a{color:#437394;}
.no-float{color:#ee0000;}
.box.language{width:235px; line-height:200%;}
.box.language .no-float input[type="submit"]{float:none; margin-left:0px;}
.box.language.listyle ul li{list-style:disc outside; margin-left:15px;}
.box.language p a {display: inline-block;font-size: 15px;text-align: center;width: 100%;}
.box li form input[type="submit"]{margin-left:10px;}
.box li {border-bottom: 1px solid #e5e5e5;list-style: none outside none;padding: 10px 0;}
.box li a {float: left;font-size: 11px;line-height: 28px;padding-left: 10px;}
.box li form .button_del {float: right;color: #666;}
.box.files li{border-bottom:1px solid #e8eedd;}
.box.files {width: 560px;}
.msg{background-color:#ccee97 !important; font-weight: bold;}

input[type="text"],textarea{background: #f8f8f3;border: 1px solid #CCCDC9; padding: 4px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; font-size: 12px; color:#333333;}
#create_file_form,#new_lang_form{margin-top:10px; border-top:1px dashed; padding-top:10px;}
.row{margin-top:10px; border-bottom:1px dashed #cccddd; padding-bottom:10px;}
.row input[type="text"],textarea{width:545px;}
.row input[type="text"].comment{width:400px;}
.row .comments label{padding-top:4px; margin-right:5px;}
.row .comments{margin-top:5px;}
.row .comments label,.row .comments input[type="text"]{color:#999;}
.row label{margin-bottom:5px; display:block; color:#437394; font-weight:bold;}
small{color:red;}
.delete_key{margin-bottom:5px; margin-right:5px;}
.pattern{margin-bottom:7px; color:#8b9297;}

.t_help li {color: #437394;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;}
.notFoundFiles {
    color: #ee0000;
    font-size: 10px;
    padding-left: 10px;
}
.notFoundFiles div{
	color:#333333;
	font-size:9px;
	width:550px;
}	
.float-left{float:left !important;}
.distric_left{float:left;display:inline-block;}
.margin_10_right{margin-right:10px;}
.true_heading {border-bottom: 1px solid #e5e5e5;margin: 0 10px 20px !important;padding: 0 0 10px !important;}
.box.files.float-left form div.row {margin-left: 0;padding-left:0;}
.box.files.float-left form div.row label.left{display: inline-block;}
.box.files.float-left form div.row .delete_key.right {float: right;margin-bottom: 10px;color:#666;}
.box.language.listyle ul li {clear: left;display: inline-block;list-style: none outside none !important;margin: 0;padding: 0;width: 100%;}
.box.language.listyle ul li:last-child, .box li:last-child{border-bottom:none;}
#new_lang_form input { width: inherit;}
