/************* Custom style write here *************/

.dn{display:none;}

/***** PLUpload style *****/
.upload_product_image{text-align:center !important;}
.upload_product_image .fa{font-size:22px;}
.upload_product_image img{width: 65px; margin: 0 auto;}
.upload_single_image_section{
	display: none;
	text-align:center;
	margin-top:32px;
}
.upload_single_image_section #banner_image_cell{
	text-align: center;
    display: inline-block;
}
#custom_tab_section .nav-tabs > li.active > a{
	background-color: #009efb !important; 
	color: #fff;
}

#custom_tab_section .nav-tabs > li > a{
	background-color: #d7d7d7;
	color:#3b3c37;
}
#custom_tab_section .nav{
	margin-bottom: 0px;
}
#custom_tab_section .tab-content > .tab-pane{
	border-top: none;
}

#custom_tab_section .overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 39px;
    z-index: 9999;
}

#custom_tab_section #loading-img img {
    width: 70px;
    margin-top: 21%;
}
.display_none {
    display: none!important;
}
.edm-tabs li.active a{
    background: #009efb;
    color: #ffffff;
}
span.rec-home .edm-dropdown dd ul {
    display: none;
    background-color: #e1e2e2;
    color: #3a3b36;
    left: 0px;
    padding: 2px 15px 15px 5px;
    top: 2px;
    width: 272px;
    list-style: none;
    height: 90px;
    overflow: auto;
    font-size: 12px;
    border: 1px solid #ccc7c7;
    margin-bottom: 10px;
    overflow-y: auto;
}
.radio-homerec {
    float: left;
    display: inline-block;
    clear: none;
}
.preward-class{
    width: 25%;
}
#productmodal input[type="text"],
#productmodal select
{
    margin-bottom: 0;
    font-size: 12px;
    color: #666;
    background: #fff;
    min-height: 30px;
    box-shadow: none;
}
#productmodal button.add-product-btn
{
    font-size: 13px;
    padding: 5px 9px;
}
#productmodal
{
    font-size: 14px;
}
#productImageModel .modal-dialog{
      overflow-y: initial !important
}
#productImageModel .modal-body{
  height: 350px;
  overflow-y: auto;
}
#uploadFilesModel .modal-dialog{
    max-width: 552px;
}
#showImageModel .modal-body #image-body img{
    max-width: 465px;
}



{
  font-family: 'RobotoDraft', sans-serif;
  font-size: 15px;
  padding: 20px;
}

.spinner
{
    -webkit-animation: rotation 1.35s linear infinite;
    animation: rotation 1.35s linear infinite;
    transform-origin: 50% 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#loader1 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(146, 144, 144, 0.4);
    display: none;
}

@-webkit-keyframes rotation
{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotation
{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.circle
{
  stroke-dasharray: 180;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: turn 1.35s ease-in-out infinite;
  animation: turn 1.35s ease-in-out infinite;
}

@-webkit-keyframes turn
{
  0% {
    stroke-dashoffset: 180;
  }

  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes turn
{
  0% {
    stroke-dashoffset: 180;
  }

  50% {
    stroke-dashoffset: 45;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 180;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

svg:nth-child(1){stroke:#03a9f4;}
svg:nth-child(2){stroke:#03a9f4;}